{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ form_start(form) }}
        
        {{ include('form/_form_row.html.twig', {name: 'oldPassword', label: 'Ancien mot de passe', field: form.oldPassword}) }}
        
        {{ include('form/_form_row.html.twig', {name: 'password', label: 'Nouveau mot de passe', field: form.password}) }}

        {{ include('form/_form_row.html.twig', {name: 'passwordConfirm', label: 'Confirmez le mot de passe', field: form.passwordConfirm}) }}
        
        <button type="submit" class="form-button auth-form-button">Valider</button>
    {{ form_end(form) }}
    
{% endblock %}
