{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <h1>Reset password</h1>

    {{ form_start(form) }}
        
        {{ include('form/_form_row.html.twig', {name: 'password', label: 'Créez un nouveau mot de passe', field: form.password}) }}

        {{ include('form/_form_row.html.twig', {name: 'passwordConfirm', label: 'Confirmez le mot de passe', field: form.passwordConfirm}) }}
        
        <input type="hidden" name="token" value="{{ reset_token }}">

        <button type="submit" class="form-button auth-form-button">Valider</button>
    {{ form_end(form) }}

{% endblock %}
