{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_review_index') }} class="breadcrumb-link">Avis ({{ reviews_pending_count }})</a>
    </div>


     <div class="admin-container">
        <h1>Avis</h1>

        {# filtres #}
        {{ form_start(form) }}
            <div class="admin-filters-container">
                <div class="admin-filters">
                    <div class="admin-filters-row">            
                        {{ include('admin/form/_admin_form_row.html.twig', {name: 'rate', label: 'Note', field: form.rate}) }}
                    </div>
                    <div class="admin-filters-row">            
                        {{ include('admin/form/_admin_form_row.html.twig', {name: 'moderationStatus', label: 'Modération', field: form.moderationStatus}) }}
                    </div>
                    <div class="admin-filters-row">   
                        {{ include('admin/form/_admin_form_row.html.twig', {name: 'sortBy', label: 'Tri', field: form.sortBy}) }}
                    </div>
                </div>
                <div class="admin-filters-submit">
                    <button type="submit" class="admin-button">Recherche</button>
                </div>
            </div>
        {{ form_end(form) }}


        {# total items count #}
        <div class="admin-count">
            {{ pagination.getTotalItemCount }} résultat{% if pagination.getTotalItemCount > 1 %}s{% endif %}
            
        </div>
        
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Nom du client</th>
                    <th>Note</th>
                    <th>Modération</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for review in pagination %}
                    <tr{% if review.strong %} class="strong"{% endif %} data-id={{ review.id }}>  {# data-id pour les tests #}

                        <td class="admin-table-img-td">
                            {% if review.product.pictures %}
                                {% set picture = product_picture_position_resolver(review.product, 1) %}
                                <img class="admin-table-img" src={{ picture | picture_path_resolver('index') }} alt={{ picture | picture_alt_resolver }}>
                            {% endif %}
                            <span class="product admin-table-img-text">{{ review.product.designation }}</span>
                        </td>
                        <td class="fullName">{{ review.fullName }}</td>
                        <td class="rate">{{ review.rate }}</td>
                        <td class="moderationStatus" value={{ review.moderationStatus }}>{{ review.moderationStatusLabel }}</td>
                        <td class="createdAt" value={{ review.createdAt.timestamp }}>{{ review.createdAt.format('d/m/Y H:i') }}</td>
                        <td class="controls">
                            <a class="admin-table-button success" href={{ path('admin_review_show', {id: review.id}) }} title="Voir l'avis">
                                <svg class="icon">
                                    <use xlink:href="/svg/sprite.svg#eye"></use>
                                </svg>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <div class="admin-navigation">
            {{ knp_pagination_render(pagination, 'admin/layouts/_admin_pagination.html.twig') }}
        </div>

   </div>
{% endblock %}