{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_category_index') }} class="breadcrumb-link">Catégories ({{count_categories}})</a>
        >
        <a href={{ path('admin_category_show', {id: category.id}) }} class="breadcrumb-link">{{ category.name }}</a>
        >
        <span class="breadcrumb-item">Modifier</span>
    </div>

    <h1>Modifier la catégorie "{{ category.name }}"</h1>

   {{ form_start(form) }}
    <div class="admin-form">
            
        {% if category.picture is not null %}
            {{ include('admin/form/_admin_form_img.html.twig', {picture: category.picture, isFirst: true}) }}
        {% endif %}
        <div class="admin-form-row">
            {{ include('admin/form/_admin_form_row.html.twig', {name: 'picture', label: 'Photo principale *', field: form.picture}) }}
            {{ include('admin/form/_admin_form_row.html.twig', {name: 'alt', label: 'Balise alt', field: form.alt}) }}
        </div>
       
        {{ include('admin/form/_admin_form_row.html.twig', {name: 'name', label: 'Nom *', field: form.name}) }}
        {{ include('admin/form/_admin_form_row.html.twig', {name: 'slug', label: 'Slug (url) *', field: form.slug}) }}
        
        {{ include('admin/form/_admin_form_row.html.twig', {name: 'listPosition', label: 'Position', field: form.listPosition}) }}

        <div class="admin-product-show-row">
            <div>Catégories existantes :</div>
            <ul>
                {% for existingCategory in existingCategories %}
                    <li>{{ existingCategory.listPosition }}. {{ existingCategory.name }}</li>
                {% endfor %}
            </ul>
        </div>


        <div class="admin-form-submit">
            <button type="submit" class="admin-button">Modifier</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}