{% extends "base.html.twig" %}

{% block title %}Laisser un avis sur "{{ product.designation }}"{% endblock %}


{% block body %}
    {% include "shop/review/_review_breadcrumb.html.twig" %}

    <h1>Laisser un avis sur "{{ product.designation }}"</h1>

    <div class="product-show">
        <div class="product-left-col">
            <div class="product-img-block">
                <div class="product-main-img-container" data-controller="mainimg">
                    {% set firstPicture = product | product_picture_position_resolver(1) %}
                    <img class="product-first-img" src="{{ firstPicture | picture_path_resolver('show_first') }}" alt="{{ firstPicture | picture_alt_resolver }}">
                </div>
                {% for picture in product.pictures %}
                    {% if picture.listPosition is not same as 1 %}
                        <img class="product-secondary-img" src="{{ picture | picture_path_resolver('show') }}" alt="{{ picture | picture_alt_resolver }}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="product-right-col">
            <h1>{{ product.designation }}</h1>
            <p>{{ product.price | price_format }}</p>
        </div>
    </div>

    {{ form_start(form) }}

    {{ include('form/_form_row.html.twig', {name: 'fullName', label: 'Votre nom', field: form.fullName}) }}

    {{ include('form/_form_row.html.twig', {name: 'rate', label: 'Note', field: form.rate}) }}

    {{ include('form/_form_row.html.twig', {name: 'comment', label: 'Commentaire', field: form.comment}) }}

    <button type="submit">Valider</button>
    {{ form_end(form) }}

    
{% endblock %}

